body{
    background-color: #11111e;
    overflow-y: hidden;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color : white;
}