.projet{
    z-index: 0;
    position : relative;
    display: block;
    height: 100px;
    margin : 20px 10% 0px 10%;
    background-color : wheat;
    border : 1px solid gray;
    border-radius : 10px; 
    font-family: "Courier New", Courier, monospace;
}

